<div class="container c-custom">

    <div id="carouselExampleDark" class="carousel slide carousel-dark" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="4500">
                <img src="../assets/her1.jpg" class="d-block w-100" alt="assets/imgs/pb.png">
                <div class="carousel-caption">
                    <h1>Intellig-Tech, pour vos solutions technologiques.</h1>
                    <a class="btn btn-primary">Decouvrez nos services</a>

                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="../assets/her2.jpg" class="d-block w-100" alt="assets/imgs/pb.png">
                <div class="carousel-caption">
                    <h1>Intellig-Tech, pour vos solutions technologiques.</h1>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<section id="aboutus" class="container-sm">
    <h1> Qui sommes nous?</h1>
    <hr class="class-1">
    <div class="card">
        <div class="card-title">
            <h2>Bienvenue chez intelligtech, ou l'innovation rencontre l'intelligence!</h2>
        </div>
        <div class="card-body">
            <p class="text-sm-start fs-5">
                Nous nous engageons a repousser les limites technologiques pour creer des solutions qui
                redefinissent
                l'avenir.</p>

            <p class="text-sm-start fs-5">
                IntelligTech est une entreprise technologique dynamique et tournée vers l'avenir qui prospère dans
                les défis. Fondée avec une vision de transformer les industries grâce à des solutions intelligentes
                et innovantes, nous réunissons une équipe d'experts chevronnés, d'esprits créatifs et
                d'enthousiastes de la technologie.
            </p>
        </div>

    </div>
    <h1>Notre Mission</h1>
    <hr class="class-1">
    <div class="card">

        <div class="card-body">
            <p class="fst-normal">
                Notre mission chez IntelligTech est d'autonomiser les entreprises et les individus avec des
                solutions technologiques intelligentes qui favorisent l'efficacité, encouragent la croissance et
                inspirent le progrès. Nous croyons au pouvoir transformateur de la technologie pour remodeler les
                industries, améliorer la productivité et créer des connexions significatives. Grâce à une
                combinaison de réflexion stratégique, d'expertise technique et d'une passion pour l'innovation, nous
                visons à être à l'avant-garde de la révolution technologique.

            </p>
        </div>

    </div>
    <h1>Pourquoi choisir Intellig-Tech</h1>
    <hr class="class-1">
    <div class="card">
        <div class="card-body">
            <p class="fst-normal">
                Ce Qui Nous Distingue :

                Dans un paysage technologique en constante évolution, ce qui distingue IntelligTech, c'est notre
                engagement à rester en avance sur la courbe. Nous sommes fiers d'être agiles, adaptables et toujours
                prêts à embrasser les derniers progrès. Nos solutions ne visent pas seulement à répondre aux besoins
                actuels, mais à anticiper les défis futurs. Nous croyons en l'établissement de partenariats durables
                avec nos clients, en comprenant leurs besoins uniques et en créant des solutions sur mesure qui
                favorisent le succès.

            </p>

        </div>
    </div>




</section>


<section id="qualite" class="container my-5">
    <h1>Nos Produits</h1>
    <hr class="class-1">
    <div class="row">
        <div class="col-md-4">
            <img src="../assets/slide3.jpg" alt="Qualité 1" class="img-fluid img-hover">
            <h3>système de gestion de fil d'attente</h3>
            <p>lier la beauté et l ergonomie nos equipes vous vous proposent des produits remarcables et tres
                simples simples a utiliser</p>
        </div>
        <div class="col-md-4">
            <img src="../assets/slide3.jpg" alt="Qualité 2" class="img-fluid img-hover">
            <h3>Point de vente digitales</h3>
            <p>Avec des années d'expérience dans le domaine informatique , intelligtech possède une expertise
                solide et des compétences techniques avancées.</p>
        </div>
        <div class="col-md-4">
            <img src="../assets/slide3.jpg" alt="Qualité 3" class="img-fluid img-hover">
            <h3>Camera de surveillance</h3>
            <p>Dans un monde connecter la securité des systèmes informatiques est un enjeux majeur creer un produit
                qui fonction bien et securisé est une de nos priorités</p>
        </div>
    </div>
</section>