<header>
    <nav class="mybar navbar navbar-expand-sm navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Intelligtech</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Services IT
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">ingénieurie logicielle</a></li>
                            <li><a class="dropdown-item" href="#">Câblage réseaux</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Marketing Numérique</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Solutions IT
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Géstion de fil d'attente</a></li>
                            <li><a class="dropdown-item" href="#">Conception</a></li>
                            <li><a class="dropdown-item" href="#">Points de vente digitales</a></li>


                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Caméra de surveillance</a></li>
                        </ul>
                    </li>


                    <li class="nav-item ">
                        <a class="nav-link" href="#about">À propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#videos">Contacter-nous</a>
                    </li>

                </ul>
                <ul class="socialm">
                    <li class="nav-item sm-icons ">
                        <a class="nav-link">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item sm-icons ">
                        <a class="nav-link">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li class="nav-item sm-icons ">
                        <a class="nav-link">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item sm-icons ">
                        <a class="nav-link">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </li>

                </ul>

                <ul>

                </ul>
            </div>
        </div>
    </nav>
</header>














































<section class="landing-page">
    <div class="wrapper">


    </div>


</section>