<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>site test intelligtech</title>
</head>

<body>
    <app-bar-navigation></app-bar-navigation>
    <app-accueil></app-accueil>



    <footer class="bg-dark text-white py-3">
        <div class="container">
            <div class="d-flex justify-content-center">
                <a href="https://twitter.com/benjamincode$" target="_blank" class="mx-2 text-white">
                    <i class="fab fa-twitter">toto angular</i>
                </a>
                <a href="https://www.instagram.com/benjamincode/" target="_blank" class="mx-2 text-white">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.youtube.com/@benjamincode" target="_blank" class="mx-2 text-white">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </footer>


</body>

</html>