<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>site test inteltech</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
<div class="container">
    <a class="navbar-brand" href="#">Intelligtech</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#hero">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">À propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#videos">R/D</a>
            </li>
        </ul>
    </div>
</div>
</nav>

<section id="hero" class="d-flex align-items-center justify-content-center"
     style="height: 100vh; background-image: url('../assets/bgimage1.jpeg'); background-size: cover; background-position: center;">
<div class="text-center">
    <h1 class="display-4">Intelligtech</h1>
    <p class="lead">010101010 </p>
    <a href="https://github.com/segnane" class="btn btn-primary btn-lg"
       target="_blank">Nos travaux  open source</a>
</div>
</section>

<section id="about" class="container my-5">
<div class="row">
    <div class="col-md-4">
        <img src="../assets/it.jpeg" alt="Benjamin Code" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h2>A propos nous?</h2>
        <p>Bienvenue sur le site web de notre entreprise spécialisée dans l'automatisation des systèmes informatiques, la création de sites web, la gestion de files d'attente, l'intelligence artificielle, la création de logiciels et d'applications mobiles. Nous sommes une équipe de professionnels expérimentés qui mettent leur expertise au service de votre entreprise pour répondre à tous vos besoins en matière de technologie.

            Nous comprenons que dans un monde de plus en plus numérique, la technologie est essentielle pour la réussite de votre entreprise. C'est pourquoi nous sommes déterminés à vous offrir les solutions les plus innovantes et les plus efficaces pour vous aider à atteindre vos objectifs.
            
            Notre équipe est composée de développeurs, de designers, d'ingénieurs et d'experts en technologie, tous passionnés par leur travail et engagés à fournir des résultats de qualité supérieure à nos clients. Nous sommes constamment à la recherche des dernières technologies et des meilleures pratiques pour vous offrir les solutions les plus avancées et les plus performantes.
            
            Nous sommes fiers de notre approche personnalisée, qui consiste à travailler en étroite collaboration avec nos clients pour comprendre leurs besoins spécifiques et leur fournir des solutions sur mesure adaptées à leurs besoins. Nous sommes également engagés à fournir un service client exceptionnel, en étant disponibles pour répondre à toutes vos questions et à toutes vos préoccupations à tout moment.
            
            Nous sommes convaincus que notre expertise en matière de technologie peut aider votre entreprise à atteindre de nouveaux sommets. Que vous ayez besoin d'une automatisation de système informatique, d'un site web de qualité supérieure, d'une gestion de files d'attente efficace, d'une intelligence artificielle sophistiquée, d'un logiciel personnalisé ou d'une application mobile de haute qualité, nous sommes là pour vous aider. Parcourez notre 
            site web pour en savoir plus sur nos services et n'hésitez pas à nous contacter pour discuter de votre projet</p>
    </div>
</div>
</section>

<section id="qualities" class="container my-5">
<h2>les specialites </h2>
<div class="row">
    <div class="col-md-4">
        <img src="../assets/slide1.png" alt="Qualité 1" class="img-fluid img-hover">
        <h3>Créativité</h3>
        <p>lier la beauté et l ergonomie nos equipes vous vous proposent des produits remarcables et tres simples simples a utiliser</p>
    </div>
    <div class="col-md-4">
        <img src="../assets/slide2.jpeg" alt="Qualité 2" class="img-fluid img-hover">
        <h3>Expertise</h3>
        <p>Avec des années d'expérience dans le domaine informatique , inteltech  possède une expertise
            solide et des compétences techniques avancées.</p>
    </div>
    <div class="col-md-4">
        <img src="../assets/slide3.jpg" alt="Qualité 3" class="img-fluid img-hover">
        <h3>securité</h3>
        <p>Dans un monde connecter la securité des systèmes informatiques est un enjeux majeur creer un produit qui fonction bien et securisé est une de nos priorités</p>
    </div>
</div>
</section>

<section id="videos" class="container my-5">
<h2 >recherche et developpement</h2>
<div class="row">
    <div class="col-md-4">
        <a href="https://www.youtube.com/watch?v=-P5Xh05bhAc&list=PLxr551TUsmArwulrv_pIcBm4xt9qqQIDL" target="_blank">
            <img src="../assets/xml.webp" alt="Vidéo 1" class="img-fluid img-hover">
            <h3 >tutoriel XML mr Mouhamed </h3>
        </a>
    </div>
    <div class="col-md-4">
        <a href="https://www.youtube.com/watch?v=mEnxnee3o7Q&list=PLxr551TUsmAoxJvJ8ZqtqLYdfpfk7_L5f" target="_blank">
            <img src="../assets/jee.jpg" alt="Vidéo 2" class="img-fluid img-hover">
            <h3>tutoriel  JEE par mr Mouhamed </h3>
        </a>
    </div>
    <div class="col-md-4">
        <a href="https://www.youtube.com/watch?v=KJEJejxcnEQ&list=PLxr551TUsmApkhhzmpn6lVyRGjAC1URrO" target="_blank">
            <img src="../assets/angular.png" alt="Vidéo 3" class="img-fluid img-hover">
            <h3>tutoriel Angular </h3>
        </a>
    </div>
</div>
</section>

<footer class="bg-dark text-white py-3">
<div class="container">
    <div class="d-flex justify-content-center">
        <a href="https://twitter.com/benjamincode$" target="_blank" class="mx-2 text-white">
            <i class="fab fa-twitter">toto angular</i>
        </a>
        <a href="https://www.instagram.com/benjamincode/" target="_blank" class="mx-2 text-white">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/@benjamincode" target="_blank" class="mx-2 text-white">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
</div>
</footer>


</body>
</html>